@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
  font-family: "Raleway", sans-serif;
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  font-size: 60px;
  padding: 0;
  margin: 0;
}
h2 {
  font-size: 48px;
  color: rgb(209, 80, 101);
  margin: 0;
  padding: 0;
  text-align: center;
}
h3 {
  font-size: 36px;
  margin: 0;
  padding-left: 10px;
  color: rgb(150, 5, 150);
}
p {
  font-size: 18px;
  margin: 20px;
  padding: 15;
  color: maroon;
}
/* first section started */

#title-paragraph {
  text-align: center;
  color: lightgrey;
  margin-bottom: 50px;
}
.first-section {
  color: white;
  padding: 100px;
  background-image: url(images/banner-cover.jpg);
  background-repeat: no-repeat;
  text-align: center;
  background-attachment: fixed;
  background-size: cover;
}

.donate-link {
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding: 10px 15px;
  background-image: linear-gradient(pink, purple);
  border-radius: 10px;
  
}

/* second section started */

.second-setion {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 20px;
}
.donate-amount {
  display: flex;
  justify-content: center;
}
.donate-amount h2 {
  padding: 20px 20px;
}
.amount {
  background-color: rgba(235, 160, 235, 0.418);
  border-radius: 3px;
  margin: 40px;
}
#amount-200 {
  border: 1px solid tomato;
  background-color: papayawhip;
  border-radius: 7px;
}
.second-setion input {
  padding: 10px 140px;
  margin-bottom: 30px;
  border: 1px solid purple;
}

/* donate contaner */

.donate-container {
  margin: auto;
  width: 100%;
}
.donate-plan-title {
  margin-top: 60px;
  text-align: center;
}
.donate-plan {
  display: flex;
  width: 100%;
}
.donate-details1 {
  width: 30%;
  background-color: rgba(223, 136, 165, 0.397);
  margin: 20px 30px;
  padding: 20px 30px;
  border-radius: 10px;
}
.donate-details2 {
  width: 30%;
  background-color: azure;
  margin: 20px 30px;
  padding: 20px 30px;
  border-radius: 10px;
}
.donate-details3 {
  width: 30%;
  background-color: rgba(255, 192, 203, 0.589);
  margin: 20px 30px;
  padding: 20px 30px;
  border-radius: 10px;
}

.donation-live {
  display: flex;
  margin: 50px 30px;
  width: 100%;
}
.donation-live-text {
  width: 50%;
  padding: 30px;
  margin: 30px;
}
.donation-live-img img {
  width: 80%;
  padding: 20px;
  margin: 20px;
  border-radius: 30px;
}

/* charity container */

.charity-container {
  text-align: center;
  background-image: url(images/bg-asked-questions.png);
}

.charity-list {
  display: flex;
  justify-content: center;
}

.feature-1 {
  border: 2px solid orchid;
  border-radius: 10px;
  padding: 40px 70px;
  margin: 30px 40px 70px;
}

/* email update section */

.email-subcribe {
  text-align: center;
  margin: auto;
  width: 50%;
}

.email-update {
  padding: 50px 100px;
  text-align: center;
  background-color: antiquewhite;
}

.email-update input {
  padding: 10px 100px;
  margin-bottom: 30px;
  border: 1px solid orchid;
}

.logo-section {
  background-color: rgba(3, 3, 253, 0.623);
  padding: 50px 0;
  color: rgb(71, 4, 4);
  margin-top: 60px;
}

.logo-items {
  padding-top: 50px;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

/* footer..... */

footer {
  color: tomato;
  text-align: center;
  background-image: url(images/base-footer.jpg);
  padding: 30px 0;
  font-family: "Pacifico", cursive;
}
#footer-head{
  color: tomato;
  
}